<!DOCTYPE html>
<html>
  <head>
    <title>PaywallFreeReader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="py-3 mb-3 border-bottom">
      <div class="container row">
        <div class="d-none d-md-block col-5">
          <h3 style="margin-bottom: -5px;">Paywall-Free Reader</h3>
          <em style="font-size: 12px; padding-left: 120px;">By Muaad Abdirahman</em>
        </div>

        <div class="d-flex align-items-center form-wrapper col-md-7 col-sm-12">
          <form class="w-100 me-3" action="/urls/read" method="GET">
            <div class="input-group">
              <span class="input-group-text"><i class="fa fa-globe"></i></span>
              <input id="searchInput" type="search" value="<%= params[:url]%>" class="form-control" placeholder="Enter URL here..." name="url" aria-label="Search">
            </div>
          </form>
        </div>
      </div>
    </header>
    <div class="container app-container">
      <%= yield %>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        searchInput.addEventListener('focus', function() {
          this.select();
        });

        const images = document.querySelectorAll('img');

        images.forEach(function(image) {
          image.classList.add('img-fluid');
        });

        document.body.addEventListener('click', function(event) {
          if (event.target.tagName === 'A') {
            event.preventDefault();

            const clickedLink = event.target.href;
            
            const newUrl = '/urls/read?url=' + encodeURIComponent(clickedLink);
            
            window.location.href = newUrl;
          }
        });
      });
    </script>
  </body>
</html>
