<!DOCTYPE html>
<html>
  <head>
    <title>PaywallFreeReader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8703967392196836"
     crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="py-3 mb-3 border-bottom">
      <div class="container row">
        <div class="d-none d-md-block col-5">
          <h3 style="margin-bottom: -5px;">Paywall-Free Reader</h3>
          <em style="font-size: 12px; padding-left: 120px;">By Muaad Abdirahman</em>
        </div>

        <div class="d-flex align-items-center form-wrapper col-md-7 col-sm-12">
          <form class="w-100 me-3" action="/urls/read" method="GET">
            <div class="input-group">
              <span class="input-group-text"><i class="fa fa-globe"></i></span>
              <input id="searchInput" type="search" value="<%= params[:url]%>" class="form-control" placeholder="Enter URL here..." name="url" aria-label="Search">
            </div>
          </form>
        </div>
      </div>
    </header>
    <div class="container app-container">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-md-8 col-sm-12">
          <h1>Read any web page without a paywall</h1>
          <p>
            Paywall-Free Reader is a web app that allows you to read any web page without a paywall. Simply enter the URL of the page you want to read in the search bar above and hit "Enter". The app will then display the page without the paywall.
            <br>
            <div class="alert alert-info" role="alert">
              <strong>Unlock unlimited access to online content with Paywall-Free Reader! Say goodbye to paywalls and enjoy seamless browsing of articles, news, and more without any limitations. Our extension bypasses paywalls, allowing you to read without interruptions. Simply install Paywall-Free Reader and enjoy unrestricted access to the web.</strong>
            </div>
          </p>

          <h3>Key Features:</h3>

          <ul>
            <li>Read any web page without a paywall</li>
            <li>Unlock unlimited access to online content</li>
            <li>Bypass paywalls and read without interruptions</li>
            <li>Enjoy seamless browsing of articles, news, and more</li>
          </ul>
        </div>
        <div class="col-2">
        </div>
    </div>
    </div>
  </body>
</html>
